<suite name="Suite1">
 
    <test name="Practice Grouping"> 
        <groups> 
	    <run> 
		<include name="Car" /> 
	    </run> 
		</groups> 
			<classes> 
	  		  <class name="testCases.groupingClass" /> 
			</classes> 
    </test>
    
    <test name="Practice Grouping second "> 
        <groups> 
	    <run> 
		<include name="Scooter" /> 
	    </run> 
		</groups> 
			<classes> 
	  		  <class name="testCases.groupingClass" /> 
			</classes> 
    </test>
 
</suite>